.sm-btn-s{
  width: 100px;
}
.my-card{
  margin: 20px;
  background: #6554da0f;
}

#my-cmd{
  background: black;
  min-height: 300px;
  padding: 10px;
  color: white;
  margin: 20px;
  border: 10px solid #5654da;
  font-family: monospace;
}
#process-status{
  height: 270px;
  overflow: auto;
}
.browser-tab{
  width: 325px;
  height: 200px;
}
.browser-tab .card-image>img{
  height: 70px;
  width: 70px;
  margin: 5px;
}

.margin-5{
  margin: 5px;
}

.hdr-browser{
  right: 0;
  top:10px;
}
.disp-none{
  display: none;
}
#active-client{
  color: #07f5ee;
}
.wd-35{
  width: 35px;
}
.drop-menu{
  max-height: 300px;
  overflow: auto;
}
.auto-c-box{
  max-height: 87px;
  overflow: auto;
}
.acctv-menu{
  background: #5654da38;
}
