<div itemscope="" itemtype="http://schema.org/SoftwareSourceCode">
    <div id="js-repo-pjax-container" data-pjax-container="">







        <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav ">
            <div class="repohead-details-container clearfix container ">

                <ul class="pagehead-actions">
                    <li>
                        <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/notifications/subscribe" class="js-social-container" data-autosubmit="true" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="aOH1+tWLah2yN9K+vFstoKH5Qmik2o3rXgRMyECW9pMdc9p+0/Tjs847Uy4Wf9mDwYTHfwrucBi9vtyAJEgtrw=="></div>      <input class="form-control" id="repository_id" name="repository_id" type="hidden" value="66157284">

                        <div class="select-menu js-menu-container js-select-menu">
                            <a href="/app4pc/Automatic-Web-Project-Builder/subscription" class="btn btn-sm btn-with-count select-menu-button js-menu-target" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Toggle repository notifications menu" data-ga-click="Repository, click Watch settings, action:files#disambiguate">
            <span class="js-select-button">
                <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                Unwatch
            </span>
                            </a>
                            <a class="social-count js-social-count" href="/app4pc/Automatic-Web-Project-Builder/watchers" aria-label="1 user is watching this repository">
                                1
                            </a>

                            <div class="select-menu-modal-holder">
                                <div class="select-menu-modal subscription-menu-modal js-menu-content">
                                    <div class="select-menu-header js-navigation-enable" tabindex="-1">
                                        <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                                        <span class="select-menu-title">Notifications</span>
                                    </div>

                                    <div class="select-menu-list js-navigation-container" role="menu">

                                        <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
                                            <div class="select-menu-item-text">
                                                <input id="do_included" name="do" type="radio" value="included">
                                                <span class="select-menu-item-heading">Not watching</span>
                                                <span class="description">Be notified when participating or @mentioned.</span>
                                                <span class="js-select-button-text hidden-select-button-text">
                      <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                      Watch
                    </span>
                                            </div>
                                        </div>

                                        <div class="select-menu-item js-navigation-item selected" role="menuitem" tabindex="0">
                                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
                                            <div class="select-menu-item-text">
                                                <input checked="checked" id="do_subscribed" name="do" type="radio" value="subscribed">
                                                <span class="select-menu-item-heading">Watching</span>
                                                <span class="description">Be notified of all conversations.</span>
                                                <span class="js-select-button-text hidden-select-button-text">
                      <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                        Unwatch
                    </span>
                                            </div>
                                        </div>

                                        <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
                                            <div class="select-menu-item-text">
                                                <input id="do_ignore" name="do" type="radio" value="ignore">
                                                <span class="select-menu-item-heading">Ignoring</span>
                                                <span class="description">Never be notified.</span>
                                                <span class="js-select-button-text hidden-select-button-text">
                      <svg aria-hidden="true" class="octicon octicon-mute" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8 2.81v10.38c0 .67-.81 1-1.28.53L3 10H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h2l3.72-3.72C7.19 1.81 8 2.14 8 2.81zm7.53 3.22l-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06L11.44 8 9.47 9.97l1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06L13.56 8l1.97-1.97z"></path></svg>
                        Stop ignoring
                    </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    </li>

                    <li>

                        <div class="js-toggler-container js-social-container starring-container ">
                            <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/app4pc/Automatic-Web-Project-Builder/unstar" class="starred js-social-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="MXrp0MCOUINRB3gmIDIFyMBun2DDo6sZS/XipYsYpzc9FaHa0wzXNJyeMhd38eU1OiSUDaMr27xm33wFuSnQJA=="></div>
                            <input type="hidden" name="context" value="repository">
                            <button type="submit" class="btn btn-sm btn-with-count js-toggler-target" aria-label="Unstar this repository" title="Unstar app4pc/Automatic-Web-Project-Builder" data-ga-click="Repository, click unstar button, action:files#disambiguate; text:Unstar">
                                <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                                Unstar
                            </button>
                            <a class="social-count js-social-count" href="/app4pc/Automatic-Web-Project-Builder/stargazers" aria-label="1 user starred this repository">
                                1
                            </a>
                        </form>
                            <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/app4pc/Automatic-Web-Project-Builder/star" class="unstarred js-social-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="V0tZZ4DerR8ghw/fE0OW4I1RUItJoUheC0g3XIJrplfFR78X77hi6tsD8t26LCJ0oed4XWf/Mmqu1BEIFJJ7wQ=="></div>
                            <input type="hidden" name="context" value="repository">
                            <button type="submit" class="btn btn-sm btn-with-count js-toggler-target" aria-label="Star this repository" title="Star app4pc/Automatic-Web-Project-Builder" data-ga-click="Repository, click star button, action:files#disambiguate; text:Star">
                                <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path></svg>
                                Star
                            </button>
                            <a class="social-count js-social-count" href="/app4pc/Automatic-Web-Project-Builder/stargazers" aria-label="1 user starred this repository">
                                1
                            </a>
                        </form>  </div>

                    </li>

                    <li>
                        <a href="#fork-destination-box" class="btn btn-sm btn-with-count" title="Fork your own copy of app4pc/Automatic-Web-Project-Builder to your account" aria-label="Fork your own copy of app4pc/Automatic-Web-Project-Builder to your account" rel="facebox" data-ga-click="Repository, show fork modal, action:files#disambiguate; text:Fork">
                            <svg aria-hidden="true" class="octicon octicon-repo-forked" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                            Fork
                        </a>

                        <div id="fork-destination-box" style="display: none;">
                            <h2 class="facebox-header" data-facebox-id="facebox-header">Where should we fork this repository?</h2>
                            <include-fragment src="" class="js-fork-select-fragment fork-select-fragment" data-url="/app4pc/Automatic-Web-Project-Builder/fork?fragment=1">
                                <img alt="Loading" height="64" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" width="64">
                            </include-fragment>
                        </div>

                        <a href="/app4pc/Automatic-Web-Project-Builder/network" class="social-count" aria-label="0 users forked this repository">
                            0
                        </a>
                    </li>
                </ul>

                <h1 class="public ">
                    <svg aria-hidden="true" class="octicon octicon-repo" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
                    <span class="author" itemprop="author"><a href="/app4pc" class="url fn" rel="author">app4pc</a></span><!--
--><span class="path-divider">/</span><!--
--><strong itemprop="name"><a href="/app4pc/Automatic-Web-Project-Builder" data-pjax="#js-repo-pjax-container">Automatic-Web-Project-Builder</a></strong>

                </h1>

            </div>

            <nav class="reponav js-repo-nav js-sidenav-container-pjax container" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="navigation" data-pjax="#js-repo-pjax-container">

  <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <a href="/app4pc/Automatic-Web-Project-Builder" class="js-selected-navigation-item selected reponav-item" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches repo_packages /app4pc/Automatic-Web-Project-Builder" itemprop="url">
      <svg aria-hidden="true" class="octicon octicon-code" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg>
      <span itemprop="name">Code</span>
      <meta itemprop="position" content="1">
</a>  </span>

                <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
      <a href="/app4pc/Automatic-Web-Project-Builder/issues" class="js-selected-navigation-item reponav-item" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /app4pc/Automatic-Web-Project-Builder/issues" itemprop="url">
        <svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
        <span itemprop="name">Issues</span>
        <span class="Counter">0</span>
        <meta itemprop="position" content="2">
</a>    </span>

                <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <a href="/app4pc/Automatic-Web-Project-Builder/pulls" class="js-selected-navigation-item reponav-item" data-hotkey="g p" data-selected-links="repo_pulls /app4pc/Automatic-Web-Project-Builder/pulls" itemprop="url">
      <svg aria-hidden="true" class="octicon octicon-git-pull-request" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M11 11.28V5c-.03-.78-.34-1.47-.94-2.06C9.46 2.35 8.78 2.03 8 2H7V0L4 3l3 3V4h1c.27.02.48.11.69.31.21.2.3.42.31.69v6.28A1.993 1.993 0 0 0 10 15a1.993 1.993 0 0 0 1-3.72zm-1 2.92c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zM4 3c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v6.56A1.993 1.993 0 0 0 2 15a1.993 1.993 0 0 0 1-3.72V4.72c.59-.34 1-.98 1-1.72zm-.8 10c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
      <span itemprop="name">Pull requests</span>
      <span class="Counter">0</span>
      <meta itemprop="position" content="3">
</a>  </span>

                <a href="/app4pc/Automatic-Web-Project-Builder/projects" class="js-selected-navigation-item reponav-item" data-hotkey="g b" data-selected-links="repo_projects new_repo_project repo_project /app4pc/Automatic-Web-Project-Builder/projects">
                    <svg aria-hidden="true" class="octicon octicon-project" height="16" version="1.1" viewBox="0 0 15 16" width="15"><path fill-rule="evenodd" d="M10 12h3V2h-3v10zm-4-2h3V2H6v8zm-4 4h3V2H2v12zm-1 1h13V1H1v14zM14 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path></svg>
                    Projects
                    <span class="Counter">0</span>
                </a>
                <a href="/app4pc/Automatic-Web-Project-Builder/wiki" class="js-selected-navigation-item reponav-item" data-hotkey="g w" data-selected-links="repo_wiki /app4pc/Automatic-Web-Project-Builder/wiki">
                    <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
                    Wiki
                </a>

                <a href="/app4pc/Automatic-Web-Project-Builder/pulse" class="js-selected-navigation-item reponav-item" data-selected-links="repo_graphs repo_contributors dependency_graph pulse /app4pc/Automatic-Web-Project-Builder/pulse">
                    <svg aria-hidden="true" class="octicon octicon-graph" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path></svg>
                    Insights
                </a>
                <a href="/app4pc/Automatic-Web-Project-Builder/settings" class="js-selected-navigation-item reponav-item" data-selected-links="repo_settings repo_branch_settings hooks integration_installations repo_keys_settings /app4pc/Automatic-Web-Project-Builder/settings">
                    <svg aria-hidden="true" class="octicon octicon-gear" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                    Settings
                </a>
            </nav>


        </div>

        <div class="container new-discussion-timeline experiment-repo-nav">
            <div class="repository-content">




                <div class="js-repo-meta-container">
                    <div class="repository-meta mb-0  js-repo-meta-edit js-details-container ">
                        <div class="repository-meta-content col-11 mb-1">
                            <em class="d-block text-gray">
                                No description, website, or topics provided.
                            </em>
                        </div>

                        <span class="edit-link">
        <button type="button" class="btn btn-sm float-right js-details-target js-edit-repo-meta-button js-edit-repo-meta-toggle" aria-expanded="false">Edit</button>
      </span>
                        <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/app4pc/Automatic-Web-Project-Builder/settings/update_meta" class="edit-repository-meta js-edit-repository-meta" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="wrFGl3MakXFTuIGmp1koP4WgFGQjK5bFOTN/GwsXM4qncfGs+aWeHcX388EuBe4plgQ9Oti8xZBjD4fEWwqFMA=="></div>
                        <div class="field">
                            <label for="repo_description">Description</label>
                            <input type="text" id="repo_description" class="form-control input-contrast repo-description-field" name="repo_description" value="" placeholder="Short description of this repository">
                        </div>
                        <div class="field">
                            <label for="repo_homepage">Website</label>
                            <input type="url" id="repo_homepage" class="form-control input-contrast repo-website-field" name="repo_homepage" value="" placeholder="Website for this repository (optional)">
                        </div>
                        <button class="btn" type="submit">Save</button>
                        or <button type="button" class="btn-link js-details-target js-edit-repo-meta-toggle" aria-expanded="true">Cancel</button>
                    </form>  </div>

                    <div class="mb-3 repository-topics-container js-repository-topics-container js-details-container">
                        <div id="topics-list-container" data-url="/app4pc/Automatic-Web-Project-Builder/settings/topics">
                            <button type="button" class="btn-link f6 lh-condensed js-repo-topics-form-toggle js-details-target" aria-expanded="false">
                                Add topics
                            </button>

                        </div>

                        <include-fragment src="" class="js-repo-topics-form-fragment d-none" data-url="/app4pc/Automatic-Web-Project-Builder/settings/edit_topics">
                            <img alt="Loading" height="32" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="32">
                        </include-fragment>
                    </div>
                </div>



                <div class="overall-summary overall-summary-bottomless">
                    <div class="stats-switcher-viewport js-stats-switcher-viewport">
                        <div class="stats-switcher-wrapper">
                            <ul class="numbers-summary">
                                <li class="commits">
                                    <a data-pjax="" href="/app4pc/Automatic-Web-Project-Builder/commits/master">
                                        <svg aria-hidden="true" class="octicon octicon-history" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M8 13H6V6h5v2H8v5zM7 1C4.81 1 2.87 2.02 1.59 3.59L0 2v4h4L2.5 4.5C3.55 3.17 5.17 2.3 7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-.34.03-.67.09-1H.08C.03 7.33 0 7.66 0 8c0 3.86 3.14 7 7 7s7-3.14 7-7-3.14-7-7-7z"></path></svg>
                                        <span class="num text-emphasized">
                4
              </span>
                                        commits
                                    </a>
                                </li>
                                <li>
                                    <a data-pjax="" href="/app4pc/Automatic-Web-Project-Builder/branches">
                                        <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M10 5c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v.3c-.02.52-.23.98-.63 1.38-.4.4-.86.61-1.38.63-.83.02-1.48.16-2 .45V4.72a1.993 1.993 0 0 0-1-3.72C.88 1 0 1.89 0 3a2 2 0 0 0 1 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2 1.11 0 2-.89 2-2 0-.53-.2-1-.53-1.36.09-.06.48-.41.59-.47.25-.11.56-.17.94-.17 1.05-.05 1.95-.45 2.75-1.25S8.95 7.77 9 6.73h-.02C9.59 6.37 10 5.73 10 5zM2 1.8c.66 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2C1.35 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2zm0 12.41c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm6-8c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                                        <span class="num text-emphasized">
              1
            </span>
                                        branch
                                    </a>
                                </li>

                                <li>
                                    <a href="/app4pc/Automatic-Web-Project-Builder/releases">
                                        <svg aria-hidden="true" class="octicon octicon-tag" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M7.73 1.73C7.26 1.26 6.62 1 5.96 1H3.5C2.13 1 1 2.13 1 3.5v2.47c0 .66.27 1.3.73 1.77l6.06 6.06c.39.39 1.02.39 1.41 0l4.59-4.59a.996.996 0 0 0 0-1.41L7.73 1.73zM2.38 7.09c-.31-.3-.47-.7-.47-1.13V3.5c0-.88.72-1.59 1.59-1.59h2.47c.42 0 .83.16 1.13.47l6.14 6.13-4.73 4.73-6.13-6.15zM3.01 3h2v2H3V3h.01z"></path></svg>
                                        <span class="num text-emphasized">
              0
            </span>
                                        releases
                                    </a>
                                </li>

                                <li>
                                    <a href="/app4pc/Automatic-Web-Project-Builder/graphs/contributors">
                                        <svg aria-hidden="true" class="octicon octicon-organization" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4"></path></svg>
                                        <span class="num text-emphasized">
      0
    </span>
                                        contributors
                                    </a>
                                </li>
                            </ul>

                            <div class="repository-lang-stats">
                                <ol class="repository-lang-stats-numbers">
                                    <li>
                                        <a href="/app4pc/Automatic-Web-Project-Builder/search?l=javascript" data-ga-click="Repository, language stats search click, location:repo overview">
                                            <span class="color-block language-color" style="background-color:#f1e05a;"></span>
                                            <span class="lang">JavaScript</span>
                                            <span class="percent">100.0%</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="repository-lang-stats-graph js-toggle-lang-stats" title="Click for language details" data-ga-click="Repository, language bar stats toggle, location:repo overview">
                    <span class="language-color" aria-label="JavaScript 100.0%" style="width:100.0%; background-color:#f1e05a;" itemprop="keywords">JavaScript</span>
                </div>


                <div class="js-socket-channel js-updatable-content" data-channel="repo:66157284:post-receive:11137049" data-url="/app4pc/Automatic-Web-Project-Builder/show_partial?partial=tree%2Frecently_touched_branches_list">
                </div>


                <div class="file-navigation in-mid-page">

                    <details class="get-repo-select-menu js-menu-container float-right position-relative dropdown-details details-reset">
                        <summary class="btn btn-sm btn-primary">
                            Clone or download
                            <span class="dropdown-caret"></span>
                        </summary>
                        <div class="position-relative">
                            <div class="get-repo-modal dropdown-menu dropdown-menu-sw pb-0 js-toggler-container ">
                                <div class="clone-options https-clone-options">
                                    <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/users/set_protocol?protocol_selector=ssh&amp;protocol_type=push" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="K9kCZc5GqQzUgpG8vohLMc235ZDWvAhdZb17ap2Dva3ois3wMt65EKwU2XAWleVsPA78SS5k6IZ3L8gMJmUilg=="></div><button class="btn-link btn-change-protocol js-toggler-target float-right" type="submit">Use SSH</button></form>

                                    <h4 class="mb-1">
                                        Clone with HTTPS
                                        <a class="muted-link" href="https://help.github.com/articles/which-remote-url-should-i-use" target="_blank" title="Which remote URL should I use?">
                                            <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg>
                                        </a>
                                    </h4>
                                    <p class="mb-2 get-repo-decription-text">
                                        Use Git or checkout with SVN using the web URL.
                                    </p>

                                    <div class="input-group js-zeroclipboard-container">
                                        <input type="text" class="form-control input-monospace input-sm js-zeroclipboard-target js-url-field" value="https://github.com/app4pc/Automatic-Web-Project-Builder.git" aria-label="Clone this repository at https://github.com/app4pc/Automatic-Web-Project-Builder.git" readonly="">
                                        <div class="input-group-button">
                                            <button aria-label="Copy to clipboard" class="js-zeroclipboard btn btn-sm zeroclipboard-button tooltipped tooltipped-s" data-copied-hint="Copied!" type="button"><svg aria-hidden="true" class="octicon octicon-clippy" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg></button>
                                        </div>
                                    </div>

                                </div>

                                <div class="clone-options ssh-clone-options">
                                    <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/users/set_protocol?protocol_selector=https&amp;protocol_type=push" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="MFv1yrg7iWgDNk6ha2n1R1/8ivBMHdNd8glVCckN2NnzCDpfRKOZdHugBm3DdFsarkWTKbTFM4bgm+ZvcutH4g=="></div><button class="btn-link btn-change-protocol js-toggler-target float-right" type="submit">Use HTTPS</button></form>

                                    <h4 class="mb-1">
                                        Clone with SSH
                                        <a class="muted-link" href="https://help.github.com/articles/which-remote-url-should-i-use" target="_blank" title="Which remote URL should I use?">
                                            <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg>
                                        </a>
                                    </h4>
                                    <p class="mb-2 get-repo-decription-text">
                                        Use an SSH key and passphrase from account.
                                    </p>

                                    <div class="input-group js-zeroclipboard-container">
                                        <input type="text" class="form-control input-monospace input-sm js-zeroclipboard-target js-url-field" value="git@github.com:app4pc/Automatic-Web-Project-Builder.git" aria-label="Clone this repository at git@github.com:app4pc/Automatic-Web-Project-Builder.git" readonly="">
                                        <div class="input-group-button">
                                            <button aria-label="Copy to clipboard" class="js-zeroclipboard btn btn-sm zeroclipboard-button tooltipped tooltipped-s" data-copied-hint="Copied!" type="button"><svg aria-hidden="true" class="octicon octicon-clippy" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="mt-2">
                                    <a href="https://desktop.github.com" class="btn btn-outline get-repo-btn tooltipped tooltipped-s tooltipped-multiline" aria-label="Clone app4pc/Automatic-Web-Project-Builder to your computer and use it in GitHub Desktop.">
                                        Open in Desktop
                                    </a>

                                    <a href="/app4pc/Automatic-Web-Project-Builder/archive/master.zip" class="btn btn-outline get-repo-btn
" rel="nofollow" data-ga-click="Repository, download zip, location:repo overview">
                                        Download ZIP
                                    </a>

                                </div>
                            </div>
                        </div>
                    </details>


                    <div class="BtnGroup float-right">

                        <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/app4pc/Automatic-Web-Project-Builder/new/master" class="BtnGroup-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="zgIdbqiaYNde2o2x2pBKCplZgbezG1mqSH1jxj6QFUH1XG6FPHvxZSQsfhOy9E7FMW8wwcffcwSogAqwdZUlfQ=="></div>
                        <button class="btn btn-sm BtnGroup-item" type="submit" data-disable-with="Creating file…">
                            Create new file
                        </button>
                    </form>


                        <a href="/app4pc/Automatic-Web-Project-Builder/upload/master" class="btn btn-sm BtnGroup-item">
                            Upload files
                        </a>


                        <a href="/app4pc/Automatic-Web-Project-Builder/find/master" class="btn btn-sm empty-icon float-right BtnGroup-item" data-pjax="" data-hotkey="t" data-ga-click="Repository, find file, location:repo overview">
                            Find file
                        </a>
                    </div>


                    <div class="select-menu branch-select-menu js-menu-container js-select-menu float-left">
                        <button class=" btn btn-sm select-menu-button js-menu-target css-truncate" data-hotkey="w" type="button" aria-label="Switch branches or tags" aria-expanded="false" aria-haspopup="true">
                            <i>Branch:</i>
                            <span class="js-select-button css-truncate-target">master</span>
                        </button>

                        <div class="select-menu-modal-holder js-menu-content js-navigation-container" data-pjax="">

                            <div class="select-menu-modal">
                                <div class="select-menu-header">
                                    <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                                    <span class="select-menu-title">Switch branches/tags</span>
                                </div>

                                <div class="select-menu-filters">
                                    <div class="select-menu-text-filter">
                                        <input type="text" aria-label="Find or create a branch…" id="context-commitish-filter-field" class="form-control js-filterable-field js-navigation-enable" placeholder="Find or create a branch…">
                                    </div>
                                    <div class="select-menu-tabs">
                                        <ul>
                                            <li class="select-menu-tab">
                                                <a href="#" data-tab-filter="branches" data-filter-placeholder="Find or create a branch…" class="js-select-menu-tab" role="tab">Branches</a>
                                            </li>
                                            <li class="select-menu-tab">
                                                <a href="#" data-tab-filter="tags" data-filter-placeholder="Find a tag…" class="js-select-menu-tab" role="tab">Tags</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="branches" role="menu">

                                    <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


                                        <a class="select-menu-item js-navigation-item js-navigation-open selected" href="/app4pc/Automatic-Web-Project-Builder/tree/master" data-name="master" data-skip-pjax="true" rel="nofollow">
                                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
                                            <span class="select-menu-item-text css-truncate-target js-select-menu-filter-text">
                master
              </span>
                                        </a>
                                    </div>

                                    <!-- '"` --><!-- </textarea></xmp> --><form accept-charset="UTF-8" action="/app4pc/Automatic-Web-Project-Builder/branches" class="js-create-branch select-menu-item select-menu-new-item-form js-navigation-item js-new-item-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="zKC/cFUgPJ2UfbGZGptxslh2e0wX2BjDjTx8EI51LNBAye0/2w3JKDLNirkxwgsZm06YzsS6YLWbEul1bLeojw=="></div>
                                    <svg aria-hidden="true" class="octicon octicon-git-branch select-menu-item-icon" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M10 5c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v.3c-.02.52-.23.98-.63 1.38-.4.4-.86.61-1.38.63-.83.02-1.48.16-2 .45V4.72a1.993 1.993 0 0 0-1-3.72C.88 1 0 1.89 0 3a2 2 0 0 0 1 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2 1.11 0 2-.89 2-2 0-.53-.2-1-.53-1.36.09-.06.48-.41.59-.47.25-.11.56-.17.94-.17 1.05-.05 1.95-.45 2.75-1.25S8.95 7.77 9 6.73h-.02C9.59 6.37 10 5.73 10 5zM2 1.8c.66 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2C1.35 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2zm0 12.41c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm6-8c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                                    <div class="select-menu-item-text">
                                        <span class="select-menu-item-heading">Create branch: <span class="js-new-item-name"></span></span>
                                        <span class="description">from ‘master’</span>
                                    </div>
                                    <input type="hidden" name="name" id="name" class="js-new-item-value">
                                    <input type="hidden" name="branch" id="branch" value="master">
                                    <input type="hidden" name="path" id="path" value="">
                                </form>
                                </div>

                                <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tags">
                                    <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


                                    </div>

                                    <div class="select-menu-no-results">Nothing to show</div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <a href="/app4pc/Automatic-Web-Project-Builder/pull/new/master" class="btn btn-sm new-pull-request-btn" data-pjax="" data-ga-click="Repository, new pull request, location:repo overview">
                        New pull request
                    </a>

                    <div class="breadcrumb">

                    </div>
                </div>





                <div class="commit-tease js-details-container Details">
    <span class="float-right">
      Latest commit
      <a class="commit-tease-sha" href="/app4pc/Automatic-Web-Project-Builder/commit/ff3a18bd4b3c99e3e3b8a39aed031d40eb504c57" data-pjax="">
        ff3a18b
      </a>
      <span itemprop="dateModified"><relative-time datetime="2016-08-24T19:51:48Z" title="25 Aug 2016, 01:21 GMT+5:30">on 25 Aug 2016</relative-time></span>
    </span>


                    <span class="commit-author-section">
          <img src="https://camo.githubusercontent.com/bd0d2e7a5ac049dff64848ab538e5ff446125f0b/68747470733a2f2f312e67726176617461722e636f6d2f6176617461722f64613034656230646464373137663833373262623864626133323436666364353f643d68747470732533412532462532466173736574732d63646e2e6769746875622e636f6d253246696d6167657325324667726176617461727325324667726176617461722d757365722d3432302e706e6726723d6726733d3430" width="20" height="20" class="avatar avatar-small" alt="Akhilesh Kumar">

  <span class="author">Akhilesh Kumar</span>

      </span>

                    <a href="/app4pc/Automatic-Web-Project-Builder/commit/ff3a18bd4b3c99e3e3b8a39aed031d40eb504c57" class="message" data-pjax="true" title="Regex Modification">Regex Modification</a>


                </div>





                <div class="file-wrap">

                    <a href="/app4pc/Automatic-Web-Project-Builder/tree/ff3a18bd4b3c99e3e3b8a39aed031d40eb504c57" class="d-none js-permalink-shortcut" data-hotkey="y">Permalink</a>

                    <table class="files js-navigation-container js-active-navigation-container" data-pjax="">


                        <tbody>
                        <tr class="warning include-fragment-error">
                            <td class="icon"><svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path></svg></td>
                            <td class="content" colspan="3">Failed to load latest commit information.</td>
                        </tr>

                        <tr class="js-navigation-item">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/.gitignore" class="js-navigation-open" id="a084b794bc0759e7a6b77810e01874f2-6684c763ea16c5f7cc5a2cb5622012c8038a9518" title=".gitignore">.gitignore</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/2ab88619dd90e7269be556ad307aa22cc8ddd82e" class="message" data-pjax="true" title="First Commit">First Commit</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-21T05:16:45Z" title="21 Aug 2016, 10:46 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        <tr class="js-navigation-item">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/README.md" class="js-navigation-open" id="04c6e90faac2675aa89e2176d2eec7d8-508b8c91836a3c6e26597e4dbfadabee6cb80eb5" title="README.md">README.md</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/b6354691b823cf8fbdc85f649babdc2930df3b99" class="message" data-pjax="true" title="log updated">log updated</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-21T05:58:03Z" title="21 Aug 2016, 11:28 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        <tr class="js-navigation-item">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/keithGlp.js" class="js-navigation-open" id="d73a36ff163c382cccfc878370ebb74b-23cdeb613d283e77c9aea1aa4cdc1421aca70868" title="keithGlp.js">keithGlp.js</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/2ab88619dd90e7269be556ad307aa22cc8ddd82e" class="message" data-pjax="true" title="First Commit">First Commit</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-21T05:16:45Z" title="21 Aug 2016, 10:46 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        <tr class="js-navigation-item">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/myTask.js" class="js-navigation-open" id="57b24c19a818f630b41c6120a70b9d3b-26211728cdfdccf3b5a3418eb78141666c9263a8" title="myTask.js">myTask.js</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/ff3a18bd4b3c99e3e3b8a39aed031d40eb504c57" class="message" data-pjax="true" title="Regex Modification">Regex Modification</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-24T19:52:00Z" title="25 Aug 2016, 01:22 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        <tr class="js-navigation-item">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/package.json" class="js-navigation-open" id="b9cfc7f2cdf78a7f4b91a753d10865a2-e12d7ba116273780bc35e2dcb523a64b4dee1aed" title="package.json">package.json</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/df392687a9778fbde82ab48b203488e58badefbd" class="message" data-pjax="true" title="skip dir">skip dir</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-24T19:16:50Z" title="25 Aug 2016, 00:46 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        <tr class="js-navigation-item navigation-focus">
                            <td class="icon">
                                <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                                <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16">
                            </td>
                            <td class="content">
                                <span class="css-truncate css-truncate-target"><a href="/app4pc/Automatic-Web-Project-Builder/blob/master/specilChr.json" class="js-navigation-open" id="63d5859a8679b84e4bcbe1f8ce61e2d2-8d6ae5f86dec3dbb048b41193111cb5cd8a9b38e" title="specilChr.json">specilChr.json</a></span>
                            </td>
                            <td class="message">
            <span class="css-truncate css-truncate-target">
                  <a href="/app4pc/Automatic-Web-Project-Builder/commit/2ab88619dd90e7269be556ad307aa22cc8ddd82e" class="message" data-pjax="true" title="First Commit">First Commit</a>
            </span>
                            </td>
                            <td class="age">
                                <span class="css-truncate css-truncate-target"><time-ago datetime="2016-08-21T05:16:45Z" title="21 Aug 2016, 10:46 GMT+5:30">a year ago</time-ago></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="repo-file-upload-tree-target js-document-dropzone js-upload-manifest-tree-view" data-drop-url="/app4pc/Automatic-Web-Project-Builder/upload/master/" data-directory-upload="">
                    <div class="repo-file-upload-outline">
                        <div class="repo-file-upload-slate">
                            <svg width="204" height="52" viewBox="0 0 204 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="files-lg" class="files-lg" fill="#717171">
                                    <path class="file-graph" d="M40,42 L40,12 L42,12 L42,40 L64,40 L64,42 L40,42 L40,42 Z M45,37 L45,16 L49,16 L49,37 L45,37 L45,37 Z M51,37 L51,22 L55,22 L55,37 L51,37 L51,37 Z M68.5,48 L35.5,48 C34.7,48 34,47.3 34,46.5 L34,7.5 C34,6.7 34.7,6 35.5,6 L59,6 L70,17 L70,46.5 C70,47.3 69.3,48 68.5,48 L68.5,48 Z M68,18 L58,8 L36,8 L36,46 L68,46 L68,18 L68,18 Z M57,37 L57,27 L61,27 L61,37 L57,37 L57,37 Z"></path>
                                    <path class="file-zip" d="M17,14 L1,14 C0.4,14 0,14.5 0,15 L0,41 C0,41.5 0.4,42 1,42 L23,42 C23.6,42 24,41.5 24,41 L24,21 L17,14 Z M22,40 L2,40 L2,16 L8,16 L8,18 L10,18 L10,16 L16,16 L22,22 L22,40 Z M8,30.5 C6.8,31.2 6,32.5 6,34 L6,36 L14,36 L14,34 C14,31.8 12.2,30 10,30 L10,28 L8,28 L8,30.5 Z M12,32 L12,34 L8,34 L8,32 L12,32 Z M10,20 L10,18 L12,18 L12,20 L10,20 Z M8,20 L10,20 L10,22 L8,22 L8,20 Z M10,24 L10,22 L12,22 L12,24 L10,24 Z M8,24 L10,24 L10,26 L8,26 L8,24 Z M10,28 L10,26 L12,26 L12,28 L10,28 Z"></path>
                                    <path class="file-generic" d="M168.5,48 L135.5,48 C134.7,48 134,47.3 134,46.5 L134,7.5 C134,6.7 134.7,6 135.5,6 L159,6 L170,17 L170,46.5 C170,47.3 169.3,48 168.5,48 Z M168,18 L158,8 L136,8 L136,46 L168,46 L168,18 Z M140,35 L140,33 L161,33 L161,35 L140,35 Z M140,30 L140,28 L161,28 L161,30 L140,30 Z M140,25 L140,23 L161,23 L161,25 L140,25 Z M140,17 L140,15 L152,15 L152,17 L140,17 Z M140,40 L140,38 L161,38 L161,40 L140,40 Z"></path>
                                    <path class="file-acrobat" d="M181,14 C180.5,14 180,14.5 180,15 L180,41 C180,41.5 180.5,42 181,42 L203,42 C203.5,42 204,41.5 204,41 L204,23 L204,21 L197,14 L181,14 Z M200.8,29.9 C200.3,29.8 199.8,29.7 199.3,29.7 C198.5,29.7 197.7,29.8 196.8,29.9 C196.3,29.8 195.7,29.3 194.8,28.6 C193.9,27.9 193.1,26.3 192.2,23.9 C192.5,22.2 192.6,20.9 192.7,19.9 C192.8,18.9 192.8,18.4 192.7,18.4 C192.8,17.6 192.6,17 192.3,16.6 C192,16.2 191.4,16 191,16 L196,16 L202,22 L202,30.4 C201.6,30.2 201.2,30 200.8,29.9 Z M182,16 L190,16 C189.8,16.1 189.6,16.2 189.4,16.4 C189.2,16.6 189,16.9 188.9,17.4 C188.7,18.2 188.6,19.2 188.7,20.3 C188.8,21.5 189.1,22.7 189.4,23.9 C188.9,25.4 188.2,27.2 187.2,29.3 C186.2,31.4 185.6,32.6 185.4,33 C185.1,33.1 184.7,33.3 184,33.6 C183.3,33.9 182.7,34.4 182,35 L182,16 L182,16 Z M195.1,31 C193.8,31.2 192.6,31.4 191.5,31.7 C190.3,32 189.1,32.4 187.8,32.9 L189,30.4 C189.8,28.7 190.4,27.2 190.8,25.8 L190.8,25.9 C191.7,28.2 192.5,29.6 193.1,30.1 C193.8,30.5 194.5,30.8 195.1,31 L195.1,31 Z M184.1,39.2 C185,38.4 186.2,36.9 187.7,34.4 C188.3,34.1 188.9,33.9 189.3,33.7 L190.1,33.4 C191.1,33.1 192,32.9 193,32.7 C194,32.5 195,32.4 196,32.3 C196.9,32.7 197.9,33.1 198.8,33.3 C199.8,33.6 200.6,33.7 201.3,33.8 C201.5,33.8 201.8,34 202,34 L202,40 L182,40 C182.4,39.9 183.6,39.6 184.1,39.2 Z"></path>
                                    <path class="file-code" d="M111,0 L82,0 C80.9,0 80,0.9 80,2 L80,50 C80,51.1 80.9,52 82,52 L122,52 C123.1,52 124,51.1 124,50 L124,13 L111,0 Z M122,50 L82,50 L82,2 L110,2 L122,14 L122,50 Z M107,18 L116,28 L107,38 L104,35 L111,28 L104,21 L107,18 Z M100,21 L93,28 L100,35 L97,38 L88,28 L97,18 L100,21 Z"></path>
                                </g>
                            </svg>

                            <h2>Drop to upload your files</h2>
                        </div>
                    </div>
                </div>


                <div class="repo-file-upload-tree-target js-document-dropzone js-upload-manifest-tree-view" data-drop-url="/app4pc/Automatic-Web-Project-Builder/upload/master/" data-directory-upload="">
                    <div class="repo-file-upload-outline">
                        <div class="repo-file-upload-slate">
                            <svg width="204" height="52" viewBox="0 0 204 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="files-lg" class="files-lg" fill="#717171">
                                    <path class="file-graph" d="M40,42 L40,12 L42,12 L42,40 L64,40 L64,42 L40,42 L40,42 Z M45,37 L45,16 L49,16 L49,37 L45,37 L45,37 Z M51,37 L51,22 L55,22 L55,37 L51,37 L51,37 Z M68.5,48 L35.5,48 C34.7,48 34,47.3 34,46.5 L34,7.5 C34,6.7 34.7,6 35.5,6 L59,6 L70,17 L70,46.5 C70,47.3 69.3,48 68.5,48 L68.5,48 Z M68,18 L58,8 L36,8 L36,46 L68,46 L68,18 L68,18 Z M57,37 L57,27 L61,27 L61,37 L57,37 L57,37 Z"></path>
                                    <path class="file-zip" d="M17,14 L1,14 C0.4,14 0,14.5 0,15 L0,41 C0,41.5 0.4,42 1,42 L23,42 C23.6,42 24,41.5 24,41 L24,21 L17,14 Z M22,40 L2,40 L2,16 L8,16 L8,18 L10,18 L10,16 L16,16 L22,22 L22,40 Z M8,30.5 C6.8,31.2 6,32.5 6,34 L6,36 L14,36 L14,34 C14,31.8 12.2,30 10,30 L10,28 L8,28 L8,30.5 Z M12,32 L12,34 L8,34 L8,32 L12,32 Z M10,20 L10,18 L12,18 L12,20 L10,20 Z M8,20 L10,20 L10,22 L8,22 L8,20 Z M10,24 L10,22 L12,22 L12,24 L10,24 Z M8,24 L10,24 L10,26 L8,26 L8,24 Z M10,28 L10,26 L12,26 L12,28 L10,28 Z"></path>
                                    <path class="file-generic" d="M168.5,48 L135.5,48 C134.7,48 134,47.3 134,46.5 L134,7.5 C134,6.7 134.7,6 135.5,6 L159,6 L170,17 L170,46.5 C170,47.3 169.3,48 168.5,48 Z M168,18 L158,8 L136,8 L136,46 L168,46 L168,18 Z M140,35 L140,33 L161,33 L161,35 L140,35 Z M140,30 L140,28 L161,28 L161,30 L140,30 Z M140,25 L140,23 L161,23 L161,25 L140,25 Z M140,17 L140,15 L152,15 L152,17 L140,17 Z M140,40 L140,38 L161,38 L161,40 L140,40 Z"></path>
                                    <path class="file-acrobat" d="M181,14 C180.5,14 180,14.5 180,15 L180,41 C180,41.5 180.5,42 181,42 L203,42 C203.5,42 204,41.5 204,41 L204,23 L204,21 L197,14 L181,14 Z M200.8,29.9 C200.3,29.8 199.8,29.7 199.3,29.7 C198.5,29.7 197.7,29.8 196.8,29.9 C196.3,29.8 195.7,29.3 194.8,28.6 C193.9,27.9 193.1,26.3 192.2,23.9 C192.5,22.2 192.6,20.9 192.7,19.9 C192.8,18.9 192.8,18.4 192.7,18.4 C192.8,17.6 192.6,17 192.3,16.6 C192,16.2 191.4,16 191,16 L196,16 L202,22 L202,30.4 C201.6,30.2 201.2,30 200.8,29.9 Z M182,16 L190,16 C189.8,16.1 189.6,16.2 189.4,16.4 C189.2,16.6 189,16.9 188.9,17.4 C188.7,18.2 188.6,19.2 188.7,20.3 C188.8,21.5 189.1,22.7 189.4,23.9 C188.9,25.4 188.2,27.2 187.2,29.3 C186.2,31.4 185.6,32.6 185.4,33 C185.1,33.1 184.7,33.3 184,33.6 C183.3,33.9 182.7,34.4 182,35 L182,16 L182,16 Z M195.1,31 C193.8,31.2 192.6,31.4 191.5,31.7 C190.3,32 189.1,32.4 187.8,32.9 L189,30.4 C189.8,28.7 190.4,27.2 190.8,25.8 L190.8,25.9 C191.7,28.2 192.5,29.6 193.1,30.1 C193.8,30.5 194.5,30.8 195.1,31 L195.1,31 Z M184.1,39.2 C185,38.4 186.2,36.9 187.7,34.4 C188.3,34.1 188.9,33.9 189.3,33.7 L190.1,33.4 C191.1,33.1 192,32.9 193,32.7 C194,32.5 195,32.4 196,32.3 C196.9,32.7 197.9,33.1 198.8,33.3 C199.8,33.6 200.6,33.7 201.3,33.8 C201.5,33.8 201.8,34 202,34 L202,40 L182,40 C182.4,39.9 183.6,39.6 184.1,39.2 Z"></path>
                                    <path class="file-code" d="M111,0 L82,0 C80.9,0 80,0.9 80,2 L80,50 C80,51.1 80.9,52 82,52 L122,52 C123.1,52 124,51.1 124,50 L124,13 L111,0 Z M122,50 L82,50 L82,2 L110,2 L122,14 L122,50 Z M107,18 L116,28 L107,38 L104,35 L111,28 L104,21 L107,18 Z M100,21 L93,28 L100,35 L97,38 L88,28 L97,18 L100,21 Z"></path>
                                </g>
                            </svg>

                            <h2>Drop to upload your files</h2>
                        </div>
                    </div>
                </div>


                <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
                    <h3>
                        <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
                        README.md
                    </h3>

                    <article class="markdown-body entry-content" itemprop="text"><h1><a href="#build-your-project-for-production" aria-hidden="true" class="anchor" id="user-content-build-your-project-for-production"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Build your project for production</h1>
                        <h2><a href="#build-your-project-automatically-for-production-just-using-few-commands" aria-hidden="true" class="anchor" id="user-content-build-your-project-automatically-for-production-just-using-few-commands"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Build your project automatically for production just using few commands</h2>
                        <p><strong>Services Provided</strong></p>
                        <ul>
                            <li>JS Minification(Traversing through HTML)</li>
                            <li>JS Concatenation(Traversing through HTML)</li>
                            <li>JS Minification(Traversing through JS)</li>
                            <li>JS Concatenation(Traversing through JS)</li>
                            <li>CSS Minification</li>
                            <li>CSS Concatenation</li>
                            <li>CSS asset dependency injection</li>
                            <li>HTML Minification</li>
                            <li>Image Optimisation</li>
                            <li>Font File Optimisation</li>
                        </ul>
                        <h3><a href="#js-minification--concatenationtraversing-through-html" aria-hidden="true" class="anchor" id="user-content-js-minification--concatenationtraversing-through-html"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>JS Minification &amp; Concatenation(Traversing through HTML)</h3>
                        <p>It builds 4 files</p>
                        <ul>
                            <li>vendorHead (Vendor javaScript which should resolve before page load i.e. inside head tag)</li>
                            <li>appHead (app javaScript which should resolve before page load i.e. inside head tag)</li>
                            <li>vendorBody (Vendor javaScript which should resolve after page load i.e. inside body or after tag)</li>
                            <li>appBody  (Vendor javaScript which should resolve after page load i.e. inside body or after tag)</li>
                        </ul>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--search= Path of your parent directory where your HTML are present(It can automatically find sub-directory)</p>
                        <p>--option= jsMin (For JS Minification &amp; Concatenation Traversing through HTML)</p>
                        <p>--public= path of your public directory</p>
                        <p>--output= Output folder path //public will be treated as output if not provided</p>
                        <p>--vendor= Vendor folder name (default values will be node_modules, bower_components)</p>
                        <p>--vendor= multiple Vendor folder can be provided</p>
                        <p>--version= version of your project</p>
                        <p>--mangle= Boolean (default true)</p>
                        <p><em>Note:</em> output, vendor, version are optional</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --search=E:\hdd\app4pc\dev\src\static\views --option=jsMin --public=E:\hdd\app4pc\dev\src --output=E:\hdd\app4pc\dev\src\tst  --vendor=node_modules --vendor=bower_components --version=jc561 --mangle=true</p>
                        <p><em>output</em></p>
                        <ul>
                            <li>appBodyindex_jc561.min.3.js //no. 3.. keep tracks order of script</li>
                            <li>vendorBodyindex_jc561.min.3.js</li>
                        </ul>
                        <h3><a href="#js-minification--concatenationtraversing-through-js" aria-hidden="true" class="anchor" id="user-content-js-minification--concatenationtraversing-through-js"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>JS Minification &amp; Concatenation(Traversing through JS)</h3>
                        <p>It builds given output(default main.js)</p>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--ent= absolute path of your entry file</p>
                        <p>--option= requireMin (For JS Minification &amp; Concatenation Traversing through JS)</p>
                        <p>--out= absolute path of your output file</p>
                        <p>--mangle= Decide whether mangling should done or not (default is true)</p>
                        <p>--clean= Decide whether output dir should cleaned or not (default is false)</p>
                        <p><em>Note:</em> mangle, clean are optional</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --ent=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static\app.js --option=requireMin --out=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static\out.js --mangle=true --clean=false</p>
                        <p><em>output</em></p>
                        <ul>
                            <li>app.js</li>
                        </ul>
                        <h3><a href="#css-minification--concatenation--css-asset-dependency-injection" aria-hidden="true" class="anchor" id="user-content-css-minification--concatenation--css-asset-dependency-injection"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>CSS Minification / Concatenation / CSS asset dependency injection</h3>
                        <p>All the dependencies of css(e.g. Font files, Images etc.) will be copied with updated references in production css file</p>
                        <p>It builds 4 files</p>
                        <ul>
                            <li>vendorHead (Vendor style which should resolve before page load i.e. inside head tag)</li>
                            <li>appHead (app style which should resolve before page load i.e. inside head tag)</li>
                            <li>vendorBody (Vendor style which should resolve after page load i.e. inside body or after tag)</li>
                            <li>appBody  (Vendor style which should resolve after page load i.e. inside body or after tag)</li>
                        </ul>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--search= Path of your parent directory where your HTML are present(It can automatically find sub-directories) //preferably put public dir so some assets inconsistencies can also be removed</p>
                        <p>--option= cssMin (For css Minification &amp; Concatenation)</p>
                        <p>--public= path of your public directory</p>
                        <p>--output= Output folder path //public will be treated as output if not provided</p>
                        <p>--vendor= Vendor folder name</p>
                        <p>--vendor= multiple Vendor folder can be provided (default values will be node_modules, bower_components, Bootstrap)</p>
                        <p>--version= version of your project</p>
                        <p>--showCssDepErr=boolean //Show the error of css dependencies conflicts(When assets mentioned in css are not available)</p>
                        <p><em>Note:</em> output, vendor, version, showCssDepErr are optional</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --search=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static --option=cssMin --public=E:\hdd\app4pc\reqireGlp\iwoScr\iwo --output=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static --vendor=node_modules --vendor=bower_components --version=jc561</p>
                        <p><em>output</em></p>
                        <ul>
                            <li>appCSSindex_jc561.min.3.css //no. 3.. keep tracks order of style</li>
                            <li>vendorCSSindex_jc561.min.3.css</li>
                        </ul>
                        <h3><a href="#html-minification" aria-hidden="true" class="anchor" id="user-content-html-minification"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>HTML Minification</h3>
                        <p>It builds Optimised HTML file in output/public/same folder</p>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--search= Path of your parent directory where your HTML are present(It can automatically find sub-directories)</p>
                        <p>--option= htmlMin (For HTML Minification)</p>
                        <p>--public= path of your public directory //Same file will be treated as output if none of public/output provided</p>
                        <p>--output= Output folder path //public will be treated as output if not provided</p>
                        <p><em>Note:</em> public, output, are optional</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --search=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static\views --option=htmlMin</p>
                        <p><em>output</em></p>
                        <ul>
                            <li>appBodyindex_jc561.min.3.css //no. 3.. keep tracks order of style</li>
                            <li>vendorBodyindex_jc561.min.3.css</li>
                        </ul>
                        <h3><a href="#image-optimisation" aria-hidden="true" class="anchor" id="user-content-image-optimisation"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Image optimisation</h3>
                        <p>It builds Optimised images in output/public folder</p>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--search= Path of your parent directory where your images are present(It can automatically find sub-directories)</p>
                        <p>--option= imgMin (For Image optimisation)</p>
                        <p>--output= Output folder path //search will be treated as output if not provided and replace the destination</p>
                        <p><em>Note:</em> public, output, are optional</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --search=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static --option=imgMin --output=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static\kkp
                            <em>output</em></p>
                        <p>Images will be created in respective Directory format after optimisation</p>
                        <h3><a href="#font-file-optimisation" aria-hidden="true" class="anchor" id="user-content-font-file-optimisation"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Font file optimisation</h3>
                        <p>It builds Optimised Font file in output/public folder</p>
                        <p><em><strong>Commands Options</strong></em></p>
                        <p>node myTask.js</p>
                        <p>--search= Path of your parent directory where your font file are present(It can automatically find sub-directories)</p>
                        <p>--option= fontMin (For font file optimisation)</p>
                        <p>--output= Output folder path //search will be treated as output if not provided and replace the destination</p>
                        <p><em>Sample command</em></p>
                        <p>node myTask.js --search=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static --option=fontMin --output=E:\hdd\app4pc\reqireGlp\iwoScr\iwo\static\kkp</p>
                        <p><em>output</em></p>
                        <p>font file will be created in respective Directory format after optimisation</p>
                        <h3><a href="#requirement" aria-hidden="true" class="anchor" id="user-content-requirement"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Requirement</h3>
                        <ul>
                            <li>node/npm</li>
                        </ul>
                        <h3><a href="#how-to-run" aria-hidden="true" class="anchor" id="user-content-how-to-run"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>How to run</h3>
                        <ul>
                            <li>Go to directory</li>
                            <li>run the command 'npm i'</li>
                            <li>run corresponding command</li>
                        </ul>
                    </article>
                </div>


            </div>
            <div class="modal-backdrop js-touch-events"></div>
        </div>

    </div>
</div>