<h1 style="margin:30px">
  <div class="float-left">Frontend Analyser</div>
  <div class="btn float-right" (click)="isReportView=!isReportView">{{isReportView?'Go to analyse':'Go to Report'}}</div>
</h1>
<div class="clearfix"></div>
<div [ngClass]="['container',isReportView?'disp-none':'']">
  <div class="card my-card">
    <div class="card-header">
      <button class="btn btn-primary float-right wd-35" (click)="cardVisible[0]=!cardVisible[0];saveLocalDta()">{{cardVisible[0]?'-':'+'}}</button>
      <div class="card-title h5">Supported Browser</div>
      <div class="card-subtitle text-gray">Select browser you want to check on</div>
    </div>
    <div *ngIf="suportedBrowerA.length" [ngClass]="['card-body',cardVisible[0]?'':'disp-none']">
      <div class="card browser-tab float-left relative margin-5" *ngFor="let sup of suportedBrowerA;let ind1 = index;">
        <div class="card-image">
          <img class="img-responsive margin-5" [src]="sup.img" alt="OS X El Capitan">
        </div>
        <div class="card-header absolute text-right hdr-browser">
          <div class="card-title h5">{{sup.name}}</div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-autocomplete">
              <div class="form-autocomplete-input auto-c-box form-input is-focused drop-true" (click)="showDrop($event,ind1)">
                <div class="chip drop-true" *ngFor="let s of sup.selectedV">
                  <div class="tile-icon drop-true">
                    <figure class="avatar avatar-sm drop-true" [attr.data-initial]="s.substring(0,3)" style="background-color: #5755d9;"></figure>
                  </div>
                  <a href="#" class="tile-content drop-true">{{s}}</a>
                  <a href="#" class="btn btn-clear" aria-label="Close" role="button" (click)="pushRmvVersion(false,s,ind1)"></a>
                </div>
              </div>
              <ul [ngClass]="['menu drop-menu',visibleDrop===ind1?'':'disp-none']">
                <li *ngFor="let v of sup.v;let ind2 = index" (click)="pushRmvVersion(true,v,ind1)" [ngClass]="['menu-item',sup.selectedV.indexOf(v)!==-1?'acctv-menu':'']">
                  <a href="javascript:void(0)">
                    <div class="tile tile-centered">
                      <div class="tile-icon">
                        <figure class="avatar avatar-sm" data-initial="TS" style="background-color: #5755d9;"></figure>
                      </div>
                      <div class="tile-content">{{v}}</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card my-card">
    <div class="card-header">
      <button class="btn btn-primary float-right wd-35" (click)="cardVisible[1]=!cardVisible[1];saveLocalDta()">{{cardVisible[1]?'-':'+'}}</button>
      <div class="card-title h5">Analyse from Git</div>
      <div class="card-subtitle text-gray">Provide git creds to analyse it on GIT</div>
    </div>
    <div [ngClass]="['card-body',cardVisible[1]?'':'disp-none']">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-1">Git URL</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="text" [(ngModel)]="data.gitUrl" name="gitUrl" id="git-ex-1" placeholder="Git URL">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-2">Git Branch</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="text" [(ngModel)]="data.giBranch" name="giBranch" id="git-ex-2" placeholder="Branch Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-6">Git Commit Id</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="text" [(ngModel)]="data.commitId" name="commitId" id="git-ex-6" placeholder="Commit Id">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-3">Username</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="text" [(ngModel)]="data.username" name="username" id="git-ex-3" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-4">Password</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="password" [(ngModel)]="data.password" name="password" id="git-ex-4" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="['card-footer',cardVisible[1]?'':'disp-none']">
      <div class="form-group">
        <div class="col-12 btn btn-lg float-right sm-btn-s" (click)="analyse('git')">Analyse</div>
      </div>
    </div>
  </div>
  <div class="card my-card">
    <div class="card-header">
      <button class="btn btn-primary float-right wd-35" (click)="cardVisible[2]=!cardVisible[2];saveLocalDta()">{{cardVisible[2]?'-':'+'}}</button>
      <div class="card-title h5">Analyse from local</div>
      <div class="card-subtitle text-gray">Analyse it for local file system</div>
    </div>
    <div [ngClass]="['card-body',cardVisible[2]?'':'disp-none']">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="local-ex--1">Project path</label>
          </div>
          <div class="col-9">
            <input class="form-input" [(ngModel)]="data.search" name="search" type="text" id="local-ex--1" placeholder="Project path">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="local-ex--2">Exclude path</label>
          </div>
          <div class="col-9">
            <input class="form-input" [(ngModel)]="data.vendor" name="vendor" type="text" id="local-ex--2" placeholder="Exclude path">
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="['card-footer',cardVisible[2]?'':'disp-none']">
      <div class="form-group">
        <div class="col-12 btn btn-lg float-right sm-btn-s" (click)="analyse('local')">Analyse</div>
      </div>
    </div>
  </div>
  <div class="card my-card">
    <div class="card-header">
      <button class="btn btn-primary float-right wd-35" (click)="cardVisible[3]=!cardVisible[3];saveLocalDta()">{{cardVisible[3]?'-':'+'}}</button>
      <div class="card-title h5">Subscribe progress on mail</div>
      <div class="card-subtitle text-gray">A mail will come after work is done</div>
    </div>
    <div [ngClass]="['card-body',cardVisible[3]?'':'disp-none']">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="git-ex-5">Email</label>
          </div>
          <div class="col-9">
            <input class="form-input" type="email" [(ngModel)]="data.email" name="email" id="git-ex-5" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <h3 id="resp-recived"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card my-card">
    <div class="card-header">
      <button class="btn btn-primary float-right wd-35" (click)="cardVisible[4]=!cardVisible[4];saveLocalDta()">{{cardVisible[4]?'-':'+'}}</button>
      <div class="card-title h5">Analysis progress</div>
      <div class="card-subtitle text-gray">Console is linked here</div>
    </div>
    <div [ngClass]="['card-body',cardVisible[4]?'':'disp-none']">
      <div id="my-cmd">
        <p id="active-client"></p>
        <div id="process-status">
          <p class="mb-0" *ngFor="let i of msgArr.h" [innerHTML]="i"></p>
          <p class="mb-0" *ngIf="!msgArr.h.length">Nothing processed yet</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="['container',isReportView?'':'disp-none']">
  <div class="columns">
    <div class="column panel">
      <div class="panel-header">
        <div class="input-group">
          <input type="text" class="form-input" placeholder="Search by keyword">
          <button class="btn btn-primary input-group-btn">Search</button>
        </div>
      </div>
      <div class="panel-body">
        <div class="tile" *ngFor="let itm of scanReport">
          <div class="tile-content">
            <table  class="table table-hover tile-subtitle">
              <tr *ngFor="let kwrd of itm.keywords">
                <td>
                  <h3>{{kwrd.name}}</h3>
                  <h5 class="tile-title">
                    {{itm.name}}
                  </h5>
                </td>
                <td>
                  <div>
                    <span>Line:</span>
                    <span class="chip"  *ngFor="let v of kwrd.lines">
                  {{v[0]+': '+v[1]}}
                </span>
                  </div>
                  <div>
                    <span>Browser:</span>
                    <span *ngFor="let br of kwrd.browser">
                  <a href="#" class="chip" *ngFor="let ver of br.version">
                    <img [src]="imgNameMap[br.name]" class="avatar avatar-sm">
                    {{br.name+' '+ver}}
                  </a>
                </span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
